* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}
/* =========================================================================================================== */
/* HEADER */
/* =========================================================================================================== */
header {
    font-family: 'Old Standard TT', serif;
}

.navbar {
    background-color: burlywood;
    padding: 0;
    margin: 0;
}
/* =========================================================================================================== */
/* HEADER FIN */
/* =========================================================================================================== */

/* =========================================================================================================== */
/* FOOTER */
/* =========================================================================================================== */
.footer {
    background-color: burlywood;
    margin: 0;
}

.row {
    align-items: center;
    text-align: center;
}


.icon {
    display: inline-block;
    font-size: 50px;
    animation: float 5s ease-in-out infinite;
}

.iconf {
    color: #4267B2;
}

.iconw {
    color: #25D366;
}

.iconi {
    color: #E1306C;
}

.ri-facebook-circle-line {
    animation-delay: 1s;
}

.ri-whatsapp-line {
    animation-delay: 2s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}
/* =========================================================================================================== */
/* FOOTER FIN */
/* =========================================================================================================== */
/* =========================================================================================================== */
/* NOSOTROS */
/* =========================================================================================================== */
.section {
    display: flex;
    text-align: start;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(img/filo2.svg);
    background-size: cover;
    height: 400px;
}

.section1 {
    height: 100vh;
}

.title {
    font-family: 'Old Standard TT', serif;
    margin-left: 20px;
    font-size: 40px;
    color: white;
}

.title::after {
    content: "";
    position: relative;
    height: 3px;
    width: 70px;
    margin-left: 4px;
    left: 0;
    top: 0.05em;
    background: #fff;
    display: block;
}


.p1 {
    margin-left: 20px;
    font-size: 20px;
    color: white;
}
/* =========================================================================================================== */
/* NOSOTROS FIN */
/* =========================================================================================================== */

/* =========================================================================================================== */
/* GALLERIA */
/* =========================================================================================================== */
.gallery_container {
    display: grid;
    padding: 2% 0;
    max-width: 100%;
    width: 100%;
    height: 150vh;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "picture-1 picture-2 picture-2"
        "picture-1 picture-3 picture-3"
        "picture-4 picture-5 picture-5";
}

.picture-1 {
    grid-area: picture-1;
    background-image: url(./galeria/1.jpg);
    background-size: cover;
    background-position: center center;
}

.picture-2 {
    grid-area: picture-2;
    background-image: url(./galeria/22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.picture-3 {
    grid-area: picture-3;
    background-image: url(./galeria/33.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.picture-4 {
    grid-area: picture-4;
    background-image: url(./galeria/pexels-magda-ehlers-1189261.jpg);
    background-size: cover;
    background-position: center center;
}

.picture-5 {
    grid-area: picture-5;
    background-image: url(./galeria/pexels-picography-4784.jpg);
    background-size: cover;
    background-position: center center;
}


@media only screen and (min-width: 320px) and (max-width: 768px){
    .gallery_container {
        height: 200vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "picture-1" 
            "picture-2"  
            "picture-3" 
            "picture-4" 
            "picture-5" 
             
    }
}

/* =========================================================================================================== */
/* GALLERIA FIN */
/* =========================================================================================================== */