* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
}
/* =========================================================================================================== */
/* HEADER */
/* =========================================================================================================== */
header {
    font-family: 'Old Standard TT', serif;
    opacity: .7;
}

.navitem {
    font-family: 'Old Standard TT', serif;
}

.navbar {
    background-color: burlywood;
    padding: 0;
    margin: 0;
}
/* =========================================================================================================== */
/* HEADER FIN */
/* =========================================================================================================== */


/* =========================================================================================================== */
/* Home */
/* =========================================================================================================== */
.def1 {
    background-image: url(img/def11.png);
}

.def2 {
    background-image: url(img/def22.png);
}

.def3 {
    background-image: url(img/def33.png);
}

.home .carousel-controls {
    position: absolute;
    left: 50%;
    bottom: 40px;
    z-index: 10;
    transform: translateX(-50%);
}

.home .carousel-indicators {
    position: relative;
    margin: 0;
}

.home .carouselExampleIndicators {
    height: 70px;
    width: 70px;
    margin: 0 5px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

.home .carousel-control-next,
.home .carousel-control-prev {
    height: 60px;
    width: 60px;
    opacity: 1;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.home .carousel-control-next:hover,
.home .carousel-control-prev:hover {
    box-shadow: 0 0 10px #ffffff;
}

.home .carousel-control-next img,
.home .carousel-control-prev img {
    width: 40px;
}

.home .carousel-control-next {
    right: -90px;
}

.home .carousel-control-prev {
    left: -90px;
}

.home .active {
    border-color: #ffffff;
    transform: scale(1.2);
}

.home .carousel-inner .carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.home .carousel-inner .carousel-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: -1;
}

.home .carousel-inner .carousel-item h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 100px;
    color: #ffffff;
    margin: 0 0 10px;
    opacity: 0;
}

.home .carousel-inner .carousel-item p {
    font-family: 'Old Standard TT', serif;
    font-size: 40px;
    margin: 0;
    color: #eeeeee;
    opacity: 0;
}

.home .carousel-inner .carousel-item.active h2 {
    animation: desvanecerseIzquierda 1s ease forwards;
}

.home .carousel-inner .carousel-item.active p {
    animation: desvanecerseDerecha 1s ease forwards;
}

@keyframes desvanecerseIzquierda {
    0%{
        opacity: 0;
        transform: translateX(-500px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes desvanecerseDerecha {
    0%{
        opacity: 0;
        transform: translateX(500px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.home .carousel-inner .carousel-item .container__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* =========================================================================================================== */
/* MENU */
/* =========================================================================================================== */

.main__menu {
    width: 100%;
    height: 100vh;
    background-image: url(./galeria/cocina.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.col2 {
    justify-content: space-between;
}

.boton {
    width: 300px;
    height: 300px;
    background-color: black;
    opacity: .7;
}

.boton1 {
    border: 10px yellow;
}

.carta {
    color: white;
}

.carta1 {
    background-color: yellow;
    color: black
}


/* =========================================================================================================== */
/* FOOTER */
/* =========================================================================================================== */
.footer {
    background-color: burlywood;
    margin: 0;
}

.redes {
    font-family: 'Old Standard TT', serif;
}

.contacto {
    font-family: 'Old Standard TT', serif;
}

.row {
    align-items: center;
    text-align: center;
}


.iconi {
    color: #fff;
    /* display: inline-block; */
    font-size: 50px;
    /* animation: float 5s ease-in-out infinite; */
    animation: first_color .5s ease-in-out infinite alternate;
}

.iconf {
    color: #fff;
    /* display: inline-block; */
    font-size: 50px;
    /* animation: float 5s ease-in-out infinite; */
    animation: second_color .5s ease-in-out infinite alternate;
}

.iconw {
    color: #fff;
    /* display: inline-block; */
    font-size: 50px;
    /* animation: float 5s ease-in-out infinite; */
    animation: third_color .5s ease-in-out infinite alternate;
}



@keyframes first_color {
    0% {
        text-shadow: 0 0 10px #ff1177,
        0 0 20px #d6249f, 0 0 30px #285AEB
    }
    100% {
        text-shadow: 0 0 10px #ff1177,
        0 0 20px #d6249f, 0 0 15px #285AEB
    }
}

@keyframes second_color {
    0% {
        text-shadow: 0 0 10px #1877f2,
        0 0 20px #1459b3, 0 0 30px #179bff
    }
    100% {
        text-shadow: 0 0 10px #1877f2,
        0 0 20px #1459b3, 0 0 15px #179bff;
    }
}

@keyframes third_color {
    0% {
        text-shadow: 0 0 10px #25d366,
        0 0 20px #48ee85, 0 0 30px #0ec0a5
    }
    100% {
        text-shadow: 0 0 10px #25d366,
        0 0 20px #48ee85, 0 0 15px #0ec0a5; 
    }
}

/* =========================================================================================================== */
/* FOOTER FIN */
/* =========================================================================================================== */
/* =========================================================================================================== */
/* NOSOTROS */
/* =========================================================================================================== */
.section {
    display: flex;
    text-align: start;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(img/filo2.svg);
    background-size: cover;
    height: 400px;
}

.section1 {
    height: 100vh;
}

.title {
    font-family: 'Old Standard TT', serif;
    margin-left: 20px;
    font-size: 40px;
    color: white;
}

.title::after {
    content: "";
    position: relative;
    height: 3px;
    width: 70px;
    margin-left: 4px;
    left: 0;
    top: 0.05em;
    background: #fff;
    display: block;
}


.p1 {
    margin-left: 20px;
    font-size: 20px;
    color: white;
}


.section .title p {
    animation: desvanecerseIzquierda 1s ease forwards;
}

.section p {
    animation: desvanecerseDerecha 1s ease forwards;
}

@keyframes desvanecerseIzquierda {
    0%{
        opacity: 0;
        transform: translateX(-500px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes desvanecerseDerecha {
    0%{
        opacity: 0;
        transform: translateX(500px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
/* =========================================================================================================== */
/* NOSOTROS FIN */
/* =========================================================================================================== */

/* =========================================================================================================== */
/* GALLERIA */
/* =========================================================================================================== */
.grid-picture {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.grid-picture::before {
    content: "Deker's Bar";
    font-family: 'Old Standard TT', serif;
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.48'%3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    opacity: .7;
    transform: scale(0);
    transition: transform .4s;
}

.grid-picture:hover::before{
    transform: scale(1) rotate(360deg);
}

.gallery_container {
    display: grid;
    padding: 1% 0;
    max-width: 100%;
    width: 100%;
    height: 150vh;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "picture-1 picture-2 picture-2"
        "picture-1 picture-3 picture-3"
        "picture-4 picture-5 picture-5"
        "picture-8 picture-6 picture-6"
        "picture-8 picture-7 picture-9";
}

.picture-1 {
    grid-area: picture-1;
    background-image: url(./galeria/1.jpg);
    background-size: cover;
    background-position: center;
}

.picture-2 {
    grid-area: picture-2;
    background-image: url(./galeria/22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.picture-3 {
    grid-area: picture-3;
    background-image: url(./galeria/33.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.picture-4 {
    grid-area: picture-4;
    background-image: url(./galeria/pexels-magda-ehlers-1189261.jpg);
    background-size: cover;
    background-position: center;
}

.picture-5 {
    grid-area: picture-5;
    background-image: url(./galeria/pexels-picography-4784.jpg);
    background-size: cover;
    background-position: center;
}

.picture-6 {
    grid-area: picture-6;
    background-image: url(galeria/6.jpg);
    background-size: cover;
    background-position: center;
}

.picture-7 {
    grid-area: picture-7;
    background-image: url(galeria/7.jpg);
    background-size: cover;
    background-position: center;
}

.picture-8 {
    grid-area: picture-8;
    background-image: url(galeria/8.jpg);
    background-size: cover;
    background-position: center;
}

.picture-9 {
    grid-area: picture-9;
    background-image: url(galeria/9.jpg);
    background-size: cover;
    background-position: center;
}


@media only screen and (min-width: 320px) and (max-width: 768px){
    .home .carousel-control-next,
    .home .carousel-control-prev{
        display: none;
    }

    .home .carouselExampleIndicators {
        height: 40px;
        width: 40px;
    }

    .home .carousel-inner .carousel-item {
        height: 50vh;
    }

    .home .carousel-inner .carousel-item h2 {
        font-size: 50px;
    }
    
    .home .carousel-inner .carousel-item p {
        font-size: 20px;
    }

    .gallery_container {
        height: 300vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas:
            "picture-1" 
            "picture-2"  
            "picture-3" 
            "picture-4" 
            "picture-5" 
            "picture-6"
            "picture-7"
            "picture-8"
            "picture-9"
    }
}

/* =========================================================================================================== */
/* GALLERIA FIN */
/* =========================================================================================================== */


/* =========================================================================================================== */
/* CONTACTO */
/* =========================================================================================================== */
.formulario__container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: 'Old Standard TT', serif
}

.px-1 {
    background-color: rgb(255, 242, 0);
    color: black;
}

.form-control {
    border-block: none;
}


.container__contactos {
    margin: 10px;
    padding: 20px;
    background-image: url(./galeria/beerpong.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 95%;
    height: 100%;
}

.circle {
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;

    animation-name: pong;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    
}

@keyframes pong {
    0% {
        background-color: white;
        transform: translateY(0);
    }

    50% {
        background-color: rgb(234, 255, 150);
    }

    100% {
        background-color: rgb(183, 255, 0);
        transform: translateX(250%) translateY(500%);
        
    }
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
    .circle {
        visibility: hidden;
    }
}


/* =========================================================================================================== */
/* CARTA*/
/* =========================================================================================================== */

.title__carta{
    color: white;
}

.ham {
    color: white;
}

.ham1 {
    color: rgb(176, 175, 175);
}

.price {
    color: rgb(255, 255, 255);
}

